<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>{{APP_LABEL}}.dnsmasq</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{DNSMASQ_BIN}}</string>
    <string>--keep-in-foreground</string>
    <string>-C</string>
    <string>{{DNSMASQ_CONF}}</string>
  </array>
  <key>StandardOutPath</key>
  <string>{{DNSMASQ_STDOUT}}</string>
  <key>StandardErrorPath</key>
  <string>{{DNSMASQ_STDERR}}</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
</dict>
</plist>
